/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

/* Main styles */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

/* Form styles */
form {
    margin-bottom: 2rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="number"],
input[type="url"],
select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="file"] {
    margin-top: 0.5rem;
}

button[type="submit"],
button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover,
button:hover {
    background-color: #555;
}

/* Facebook input styles */
.facebook-input {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.facebook-input img {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.facebook-input label {
    margin-right: 10px;
    flex: 1;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/* Images spacing */
.profile-picture-container {
    margin-bottom: 1.5rem; /* Adding space between profile picture and service images */
}

.profile-picture-container img {
    width: 150px; /* تحديد عرض الصورة الشخصية */
    height: 150px; /* تحديد ارتفاع الصورة الشخصية */
    object-fit: cover; /* لضمان أن الصورة تغطي كامل الإطار بدون تشويه */
    border-radius: 50%; /* جعل الصورة دائرية */
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    main {
        padding: 1rem;
    }

    .facebook-input {
        flex-direction: column;
        align-items: flex-start;
    }

    .facebook-input img {
        margin-left: 0;
        margin-top: 0.5rem;
    }

    .facebook-input label {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
}
