body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
}

#registration-button {
    position: absolute;
    top: 20px;
    left: 20px; /* تحديد موقع الزر في الجزء العلوي الأيسر من الرأس */
    background-color: #4CAF50; /* تحديد لون خلفية الزر */
    color: white; /* تحديد لون النص */
    padding: 10px 20px; /* تحديد الهامش الداخلي للزر */
    border: none; /* إزالة حدود الزر */
    border-radius: 5px; /* تطبيق حواف منحنية للزر */
    cursor: pointer; /* تحويل المؤشر إلى يد عند التحويل */
}

nav ul {
    list-style-type: none;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 20px; /* تحديد موقع القائمة في الجزء العلوي الأيمن من الرأس */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.menu-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.dropdown-menu a {
    display: block;
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

section {
    margin-bottom: 30px;
}

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
input[type="file"] {
    padding: 10px;
    width: 80%;
    max-width: 300px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#categories ul {
    list-style-type: none;
    padding: 0;
    text-align: center; /* لمحاذاة العناصر في الوسط */
}

#categories ul li {
    display: inline-block; /* تغيير عرض العناصر إلى inline-block لتظهر كمربعات */
    margin: 10px; /* إضافة هامش للفصل بين العناصر */
    padding: 20px; /* إضافة حشو للعناصر */
    background-color: #f0f0f0; /* إضافة خلفية للعناصر */
    border-radius: 5px; /* تطبيق حواف منحنية للعناصر */
    text-align: center; /* لمحاذاة نص العناصر في الوسط */
}
